body {
  margin: 0;
  background: #eaeaea;
  font-family: 'Audiowide', sans-serif;
}

/* Шапка */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #000;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 25px;
}

.logo-img {
  width: 45px;
  height: 45px;
  background: url("Photo/image.png") no-repeat center/cover;
  border-radius: 6px;
}

.logo-text {
  font-size: 28px;
  color: #fff;
}

.header-nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.header-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: 0.3s;
  position: relative;
}

.header-nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #00aaff;
  transition: width 0.3s;
}

.header-nav a:hover::after {
  width: 100%;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header-icons img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  filter: brightness(0) invert(1);
  transition: 0.3s;
}

.header-icons img:hover {
  transform: scale(1.1);
}

/* Большая картинка */
.big-image {
  width: 100%;
  height: 500px;
  background: url("Photo/image (4).png") no-repeat center/cover;
}

/* Заголовок */
.main-title {
  text-align: center;
  font-size: 48px;
  margin: 50px 0;
  color: #000;
}

/* Сетка категорий */
.categories {
  max-width: 1600px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.row {
  display: flex;
  gap: 30px;
  justify-content: center;
}

/* Верхний ряд (2 карточки) */
.top-row .category {
  flex: 1;
  height: 545px;
}

/* Нижний ряд (3 карточки) */
.bottom-row .category {
  flex: 1;
  height: 530px;
}

/* Карточки */
.category {
  background: #fff;
  border-radius: 17px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  color: #000;
  transition: transform 0.3s, box-shadow 0.3s;
}

.category img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: auto;
}

.category:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* Большая картинка-категория */
.big-image-category {
  width: 100%;
  height: 450px;
  background: url("Photo/image (10).png") no-repeat center/cover;
  margin-top: 50px;
}

